extends layout
block content
  .row.responsive-sm
    .col
      h3.title=game.status
    .col
      pre=game
      - if (/In Progress/.test(game.status)){
      - for(var i = 1; i <= 6; i++) {
        a.button.button-block.button-calm(href=domain_url+"/game/"+code+"/"+i)=i
      - }
      - }

  script(src="/socket.io/socket.io.js")
  script.
    var socket = io.connect('localhost:3000');
