extends layout

block content
  h1 Bond
  p Share URL or Code
  input(type="text", value="http://localhost:3000/game/"+code)

  p Users Logged in 1 of #{num_players}

  script(src="/components/jquery/dist/jquery.js")
  script(src="/socket.io/socket.io.js")
  script.
      var socket = io.connect(window.location.href);
      /*
      var nickname = prompt();
      socket.emit("join", nickname);
      socket.on('reciveUserList', function (data) {
        console.log(">>>", data);
      });
      socket.on('chat', function (data) {
          console.log(data);
          $("#messages").append("<div>"+data+"</div>");
          $('#messages').prop('scrollTop', $('#messages')[0].scrollHeight)
      });
      $(document).ready(function(){
          $('#send').keydown(function(e){
            var code = e.keyCode || e.which;
            if(code==13&&$(this).val()!==""){
                console.log($(this).val());
                socket.emit("chatsend", $(this).val());
                $(this).val("");
            }
          });
      });
      */
