extends layout

block content
  .content
    .card
      .item.item-divider Share URL or Code
      .item.item-text-wrap
        .item.item-input-inset
          label.item-input-wrapper
            input(type="text", value="http://localhost:3000/join/"+code)
          button.button.button-small.button-positive Copy
          //- button.button.button-small.button-positive Share
    .card
      .item.item-divider Players in the room 1 of #{num_players}
      .item.item-text-wrap
        ul.list
          - players.forEach(function(p){
            li.item=p.nickname
          - })
    .list.list-inset
      a.button.button-full.button-positive(href="http://localhost:3000/game/"+code) Start Game

  script(src="/components/jquery/dist/jquery.js")
  script(src="/socket.io/socket.io.js")
  script.
      var socket = io.connect(window.location.href);
      /*
      var nickname = prompt();
      socket.emit("join", nickname);
      socket.on('reciveUserList', function (data) {
        console.log(">>>", data);
      });
      socket.on('chat', function (data) {
          console.log(data);
          $("#messages").append("<div>"+data+"</div>");
          $('#messages').prop('scrollTop', $('#messages')[0].scrollHeight)
      });
      $(document).ready(function(){
          $('#send').keydown(function(e){
            var code = e.keyCode || e.which;
            if(code==13&&$(this).val()!==""){
                console.log($(this).val());
                socket.emit("chatsend", $(this).val());
                $(this).val("");
            }
          });
      });
      */
